<div class="container">

    <div class="jumbotron text-center">
        <h1>Burger Logger</h1>
        <img src="./assets/img/beef_cow.png" alt="Bull Durham" height="150" />
    </div>

    <div class="row">

        <div class="col-md-12 ">
            <div class="col-md-4">
                <div class="leftBurgers text-center">
                    <h2 class="heading headTitle">Fresh New Burgers</h2>
                    <ul>
                        {{#each burgers}} {{#unless this.devoured}}
                        <li>
                            <p class="burgerType">{{this.burger_name}}</p>
                            <form action="burgers/updateOne/{{this.id}}?_method=PUT" method="POST">
                                <input type="hidden" name="devoured" value="true">
                                <button class="btnDevour" type="submit">Devour it</button>
                            </form>
                        </li>
                        {{/unless}} {{/each}}
                    </ul>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="input text-center">


                    <h2 class="heading headTitle" id="add">Add A Burger</h2>
                    <div class="form-group">
                        <form method="POST" action="burgers/insertOne" class="addOne text-center">
                            <textarea id="textArea" type="text" name="burger_name" rows="2" cols="40"></textarea>
                            <button id="btnCreate" type="submit">Add</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-4 text-left">
                <div class="rightBurgers text-center">
                    <h2 class="heading headTitle">Burgers Eaten</h2>
                    <ul>
                        {{#each burgers}} {{#if this.devoured}}
                        <li>
                            <p class="burgerType">{{this.burger_name}}</p>
                            <form action="burgers/delete/{{this.id}}?_method=DELETE" method="POST">
                                <button class="btnDevour" type="submit">Remove</button>
                            </form>
                        </li>
                        {{/if}} {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>