body{
    background-color: black;
    color: white;
}

.jumbotron {
    color: black;
    margin-top: 20px;
    opacity: .75;
    background-color: #F7B47E;
    margin-bottom: 20px;
}

.jumbotron h1 {
  font-size: 48px;
  font-family: 'Nosifer', cursive;
}

.heading {
  font-size: 30px;
  font-weight: bold;
  color: #FF851B;
  display:block;
  margin: 0 auto;
  padding-bottom: 10px;
}

.headTitle {
  font-family: 'Permanent Marker', cursive;
}

li {
  list-style-type: none;
}

.burgerType {
  font-size: 18px;
  
}

.btnDevour {
    background: #FF851B;
    color: black;
    padding: 5px;
    border: 1px solid #FF851B;
    border-radius: 5px;
    margin-bottom: 10px;
    display: inline-block;
}

#btnCreate {
  display: block;
  margin: 0 auto;
  background: #FF851B;
  color: black;
  padding: 5px;
  border: 1px solid #FF851B;
  border-radius: 5px;
  margin-bottom: 10px;
}

#btnDelete {
  display: block;
  margin: 0 auto;
}

ul,li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.rightBurgers {
  float: right;
}